# VS settings and Apple file settings.
.vscode
.DS_Store

# Folders that I work with when debugging stuff.
Resources
Temp
Unfinished

# these are the files created when I compile a C program. They do not need to go in the repo.
*.dSYM
*.compiled

# You'll need to generate your own py-caches!
__pycache__